.card_main {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    height: 450px;
    margin: 0 auto 0 auto;
    border-radius: 20px;
    background-color: #edefee;
}

.card_img {
    height: 200px;
    width: 230px;
    border-radius: 20px;
    object-fit: cover;
}

.card_desc_row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card_col1 {
    margin-left: 10px;
}

.card_col1 > h2 {
    font-weight: bold;
}

.card_col2 {
    margin-right: 10px;
}

.card_col2 > h3 {
    font-weight: bold;
    color: #ee9972;
}

.card_desc_row2 {
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    margin: 0 10px 0 10px;
}